/*================ My Variables ================*/
$my-primary-color        : #3498DB;
$my-danger-color         : #FB2E2E;
$my-dark-color           : #141824;
$my-secondary-light-color: #EFF2F6;
$my-secondary-color      : #858A9B;
$my-white-color          : #FFFFFF;
$my-border-color         : #D9D9D9;
$my-column-title-color   : #31374A;
$my-body-color           : #F5F7FA;

/*================ Bootstrap Variables ================*/
$font-family-base: 'Nunito Sans', sans-serif;

$primary: $my-primary-color;
$danger: $my-danger-color;
$body-bg: $my-body-color;
$body-color: $my-dark-color;

$table-bg: none;
$table-cell-padding-y: 1.25rem;
$table-border-color: $my-border-color;

$btn-padding-y: 8px;
$btn-padding-x: 20px;
$btn-border-radius: 3px;
$btn-font-weight: bold;

$input-padding-y: 0.875rem;
$input-padding-x: 1rem;
$input-border-radius: 3px;
$input-bg: $my-white-color;

$navbar-padding-y: 0.75rem;
$navbar-dark-color: $my-secondary-color;
$navbar-dark-hover-color: $my-primary-color;
$navbar-dark-active-color: $my-primary-color;
