<div class="d-flex align-items-center justify-content-between gap-2 flex-wrap mt-5 mb-4">
  <h2 class="section-title">Gastos</h2>

  <div class="d-flex align-items-center flex-wrap gap-3 gap-sm-5">
    <p class="m-0 total-spent-text">Total gastado: <span class="fw-bold ms-1"><i class="ri-arrow-down-s-fill text-danger"></i> {{ total | currency }}</span></p>
    <a class="btn btn-primary" routerLink="/gastos/nuevo">Agregar gasto</a>
  </div>
</div>

<div class="table-responsive mb-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tipo</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Descripción</th>
        <th scope="col" width="180">Fecha de gasto</th>
        <th scope="col" class="table-head-action"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="expenses.length; else emptyMessage">
        <tr *ngFor="let expense of expenses">
          <td>{{ expense.id }}</td>
          <td>{{ expense.type }}</td>
          <td>{{ expense.amount | currency }}</td>
          <td>{{ expense.description }}</td>
          <td>{{ expense.expense_date | date:'dd/MM/Y' }}</td>
          <td class="table-data-action">
            <div>
              <a [routerLink]="['/gastos', expense.id, 'editar']"><i class="ri-edit-box-line"></i></a>
              <button class="btn btn-link p-0" (click)="deleteExpense(expense.id)"><i class="ri-delete-bin-2-line"></i></button>
            </div>
          </td>
        </tr>
      </ng-container>
      <ng-template #emptyMessage>
        <tr>
          <td colspan="6">No hay datos para mostrar</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
