@import 'assets/scss/variables';
@import 'bootstrap/scss/bootstrap';
@import 'assets/scss/table';
@import 'assets/scss/button';
@import 'toastify-js/src/toastify';

.section-title {
  margin: 0;
  font-weight: bold;
  color: $my-dark-color;
}
